In [1]:
import numpy as np
import pandas as pd
import os

In [14]:
filepath = "../data/TRIPS_NTS2022_PUMF.txt"

full_strings_file = open(filepath, 'r')
full_strings = full_strings_file.readlines()

print(full_strings[0])
print(full_strings[0][0:7])

test_string = full_strings[0]

10066902022101022963511840969996999699996999960070070000106140100009635354589999626666666666699699626666666666666666996996699996996999969999969999969999969999969999969999969999969999969999969999969999969999969999969999969999996999996001500999999002000000080000000000100001000000000000000000300000200000518069629601696969999629699996312222222222222222221222222222222220001937.30280000968.6514

1006690

In [15]:
all_columns = ["PUMFID","REFYEAR","QUARTER","TRIPID","TRIPTYPE","ROS_Q02A","ROS_Q02B","ORIGPROV",
"MDCNTRY","MDPROV","MDTOUR","MDCMA2","DISTANCE","DISTLONG","DURATION","DUR_MAIN","DUR_LEG","MREASON","PAGE_GRP","GEND_BIN","INCOMGR2",
"GNCQ06A","GNCQ06B","GN_Q06C","GND_D01","GNI_Q02","GNI_D03","GNI_C05","GNI_D01G","PKD_Q01","PKD_Q03A","PKD_Q03B","PKD_Q03C","PKD_Q03D","PKD_Q03E","PKD_Q03F","PKD_Q03G",
"PKD_Q03H","PKD_Q03I","PKD_Q03J","PKD_Q04","PKD_Q05","PKI_Q01","PKI_Q03A","PKI_Q03B","PKI_Q03C","PKI_Q03D","PKI_Q03E","PKI_Q03F","PKI_Q03G","PKI_Q03H","PKI_Q03I",
"PKI_Q03J","PKI_Q03K","PKI_Q03L","PKI_Q03M","PKI_Q03N","PKI_Q03O","PKI_Q03P","PKI_Q04","PKI_Q05","PKI_Q06","PKI_C07","PKI_Q08","PKI_Q09","SPD_Q01","SPI_Q03",
"SPI_Q03B","SPD_D02","SPD_D03","SPD_D04","SPD_D05","SPD_D06","SPD_D07","SPD_D08","SPD_D09","SPD_D10","SPD_D11","SPD_D12","SPD_DTOT","SPI_D04","SPI_D05","SPI_D06",
"SPI_D07","SPI_D08","SPI_D09","SPI_D10","SPI_D11","SPI_D12","SPI_D13","SPI_D14","SPI_D15","SPI_DTOT","VSD1_Q01","VSD1_Q02","VSI_Q01","VSI_Q02","VSI_Q04","LGD_Q01",
"LGD_Q02","LGD_Q04","LGD_Q06","LGI_Q01","LGI_Q02","LGI_Q04","TRIP_LEG","ACT_01","ACT_02","ACT_03","ACT_04","ACT_05","ACT_06","ACT_07","ACT_08","ACT_09","ACT_10",
"ACT_11","ACT_12","ACT_13","ACT_14","ACT_15","ACT_16","ACT_17","ACT_18","ACT_19","ACT_20","ACT_21","ACT_22","ACT_23","ACT_24","ACT_25","ACT_26","ACT_27","ACT_28",
"ACT_29","ACT_30","ACT_31","ACT_32","ACT_33","ACT_34","WPT","WT"]

In [18]:
char_starts = [1, 8, 12, 13, 15, 17, 18, 20, 22, 27, 29, 33, 37, 42, 47, 50, 53, 56, 58, 
60, 61, 62, 64, 66, 68, 70, 72, 77, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 97, 100, 101, 102, 103, 104, 105, 106, 107,
108, 109,110, 111, 112, 113, 114, 115, 116, 117, 120, 123, 124, 129, 132, 137, 143, 149, 155, 161, 167, 173, 179, 185, 191, 197, 203, 209, 215, 221, 228,
 234, 240, 246, 252, 258, 264, 270, 276, 282, 288, 294, 300, 307, 308, 310, 311, 313, 315, 316, 318, 320, 325, 326, 328, 333, 334, 335, 336, 337, 338, 339,
 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 380, 391]

In [22]:
print(len(all_columns))
print(len(char_starts))

142
143

In [26]:
data_entries = []

for entry_string in full_strings:
    entry_results = []

    for i in range(0, len(all_columns)):
        start_index = char_starts[i] - 1
        end_index = char_starts[i+1] - 1
        substring = entry_string[start_index: end_index]

        entry_results.append(substring)

    data_entries.append(entry_results)

full_data = pd.DataFrame(data=data_entries, columns=all_columns)

,PUMFID,REFYEAR,QUARTER,TRIPID,TRIPTYPE,ROS_Q02A,ROS_Q02B,ORIGPROV,MDCNTRY,MDPROV,...,ACT_27,ACT_28,ACT_29,ACT_30,ACT_31,ACT_32,ACT_33,ACT_34,WPT,WT
count,65464,65464,65464,65464,65464,65464,65464,65464,65464,65464,...,65464,65464,65464,65464,65464,65464,65464,65464,65464,65464
unique,42059,1,4,24,6,2,28,10,150,14,...,3,3,3,3,3,3,3,3,52531,54085
top,1006690,2022,3,01,05,2,96,35,99996,35,...,2,2,2,2,2,2,2,2,0002641.3325,0001320.666
freq,3,65464,22438,38771,29304,54236,54236,16338,55764,14364,...,63093,63340,64660,63840,64306,63756,58385,61021,14,12